<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title class="tittle">Artefacto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" formControlName="nombre">
            <mat-error *ngIf="addressForm.controls['nombre'].hasError('required')">
              Este campo es <strong>Obligatorio</strong>
            </mat-error> 
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Precio" formControlName="precio">
            <mat-error *ngIf="addressForm.controls['precio'].hasError('required')">
              Este campo es <strong>Obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Marca" formControlName="marca">
            <mat-error *ngIf="addressForm.controls['marca'].hasError('required')">
              Este campo es <strong>Obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Cantidad" formControlName="cantidad">
            <mat-error *ngIf="addressForm.controls['cantidad'].hasError('required')">
              Este campo es <strong>Obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Serial" formControlName="serial">
            <mat-error *ngIf="addressForm.controls['serial'].hasError('required')">
              Este campo es <strong>Obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <mat-card-actions class="btn-wrap">
        <button mat-raised-button mat-dialog-close color="primary" type="submit">Guardar</button>
        <button mat-raised-button mat-dialog-close color="primary">Cancelar</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>
