<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title class="tittle"> Tipo de Servicio</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Tipo" formControlName="tipo">
            <mat-error *ngIf="addressForm.controls['tipo'].hasError('required')">
              Este campo es <strong>Obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Estado" formControlName="estado">
            <mat-error *ngIf="addressForm.controls['estado'].hasError('required')">
              Este campo es <strong>Obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <mat-card-actions class="btn-wrap">
        <button mat-raised-button mat-dialog-close color="primary" type="submit">Guardar</button>
        <button mat-raised-button mat-dialog-close color="primary">Cancelar</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>
