<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title class="tittle">Cuenta Bancaria</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Banco" formControlName="banco">
            <mat-error *ngIf="addressForm.controls['banco'].hasError('required')">
              Nombre Banco es <strong>obligatorio</strong>
            </mat-error> 
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Número Cuenta" formControlName="numero">
            <mat-error *ngIf="addressForm.controls['numero'].hasError('required')">
              Número de cuenta es <strong>obligatorio</strong>
            </mat-error> 
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Tipo Cuenta" formControlName="tipocuenta">
              <mat-option *ngFor="let state of tipocuenta" [value]="state.abbreviation">
                {{ state.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="addressForm.controls['tipocuenta'].hasError('required')">
              Este campo es <strong>Obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Id Contratista" formControlName="idcontratista">
            <mat-error *ngIf="addressForm.controls['idcontratista'].hasError('required')">
              id Contratista es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div> 
      </div>                                  
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button mat-dialog-close color="primary" type="submit">Guardar</button>
      <button mat-raised-button mat-dialog-close color="primary">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</form>