.btn-wrap {
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 2rem 1rem 0;
}

.btn-wrap > button {
 background-color: #0e335b;
}
.btn-wrap > h1 {
 margin-left: 1.5rem;
 color: #0e335b;
}