<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Registro Venta</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Cuenta Contrato" formControlName="cuenta">
            <mat-error *ngIf="addressForm.controls['cuenta'].hasError('required')">
              Código es <strong>obligatorio</strong>
            </mat-error> 
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Fecha Venta" formControlName="fecha">
            <mat-error *ngIf="addressForm.controls['fecha'].hasError('required')">
              Fecha es <strong>obligatorio</strong>
            </mat-error> 
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Precio Venta" formControlName="precio">
            <mat-error *ngIf="addressForm.controls['precio'].hasError('required')">
              Precio es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Approved" formControlName="approved">
            <mat-error *ngIf="addressForm.controls['approved'].hasError('required')">
              Approved es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>  
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Id Contratista" formControlName="idcontratista">
            <mat-error *ngIf="addressForm.controls['idcontratista'].hasError('required')">
              Id_Contratista es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Id Servicio" formControlName="idservicio">
            <mat-error *ngIf="addressForm.controls['idservicio'].hasError('required')">
              Id_Servicio es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Id Artefacto" formControlName="idartefacto">
            <mat-error *ngIf="addressForm.controls['idartefacto'].hasError('required')">
              Id_Artefacto es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Id Cliente" formControlName="idcliente">
            <mat-error *ngIf="addressForm.controls['idcliente'].hasError('required')">
              Id_Cliente es <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>                                   
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button mat-dialog-close color="primary" type="submit">Guardar</button>
      <button mat-raised-button mat-dialog-close color="primary">Cancelar</button>
    </mat-card-actions>
  </mat-card>
</form>