<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <img style="width: 100px;" src="../../../assets/logo.jpeg" alt="Logo Vanti">

    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/Cliente">Cliente</a>
<!-- <a mat-list-item href="/Dashboard">Dashboard</a>
      <a mat-list-item href="/Formulario">Formulario</a>
      <a mat-list-item href="/Tabla">Tabla</a> -->
      <a mat-list-item href="/Artefacto">Artefacto</a>
      <a mat-list-item href="/Contratista">Contratista</a>
      <a mat-list-item href="/Cuenta Bancaria">Cuenta Bancaria</a>
      <a mat-list-item href="/Servicio">Servicio</a>
      <a mat-list-item href="/Usuario">Usuario</a>
      <a mat-list-item href="/Venta">Venta</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color:rgba(0,0,0,.02); justify-content: space-between">

      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
     
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Gestor Ventas Angular</span>
      <button class="btn-wrap" type="button" mat-button (click)="logout()">Logout</button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
